/*

Author: Tyler Chilcote
Date: 8-23-2019

*/
@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

/* Typography Styles */

h1 {
    font-size: 28pt;
    line-height: 30pt;
    margin: 0.3in 0in 0.2in;
}

h2 {
    font-size: 20pt;
    margin: 0.1in 0in 0.1in 0.3in;
}

p {
    font-size: 12pt;
    margin: 0.1in 0in 0.1in 0.3in;
}

/*links */
a::after {
    content: " (" attr(href) ") ";
    font-weight: bold;
    word-wrap: break-word;
}